.main {
  display: grid;
  grid-template-columns: 190px auto 30%;
}
// mobile-style

@media screen and (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 50% auto;
  }
}