.sidebar-wrapper {
  background-color: rgba(255, 255, 255, 1);
  font-size: .75rem;
  white-space: nowrap;
  overflow: scroll;
}
.sidebar-button {
  display: grid;
  grid-template-columns: 40px auto 40px 40px auto;
  background-color: #f8f8f8;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  background-color: rgba(59, 98, 95, 1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.125rem;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.sidebar-info-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}
.sidebar-button:hover {
  cursor: pointer;
}
.sidebar-title {
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}
.sidebar-save-button {
  color: rgba(122, 122, 122, 1);
  background-color: rgba(35, 80, 77, 0.2);
  height: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar-item {
  border-bottom: 0.5px solid rgba(122, 122, 122, 1);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: min-content 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
  div:nth-child(2) {
    justify-self: end;
    font-weight: 600;
  }
}
.sidebar-item-co {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  div:nth-child(1) {
    font-weight: 400;
  }
}
.sidebar-item-wrap {
  white-space: pre-wrap;
  font-weight: 400 !important;
}
.sidebar-item-torr {
  white-space: normal;
  max-width: 150px;
}