.sidebar-left {
  background-color: rgba(0, 78, 65, 1);
  padding-left: 22px;
  padding-right: 40px;
  padding-top: 20px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  font-size: 1.4em;
  display: grid;
}